.card{


    box-shadow: rgba(7, 163, 225, 0.25) 0px 50px 100px -20px, rgba(248, 1, 1, 0.3) 0px 3px 6px 3px, rgba(17, 17, 17, 0.35) 0px -2px 6px 0px inset;
}
body{
    
background-color: rgb(151, 78, 240);

display: flex;
justify-content: center;
}
.row{
    display: grid;
    align-items:self-start
}